{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.ts.hbs",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.json.hbs",
            "options": {
                "parser": "json"
            }
        }
    ]
}
